.password-container {
    text-align: center;
    margin-top: 50px;
  }
  
  .password-container h2 {
    margin-bottom: 20px;
  }
  
  .password-container button {
    margin-top: -100;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  